/* src/pages/exam/UGENETe.css */

.container {
  max-width: 900px;
}

h1 {
  font-size: 2.2rem;
}

h3 {
  border-left: 5px solid #0d6efd;
  padding-left: 10px;
  margin-bottom: 15px;
}

ul {
  list-style-type: square;
  margin-left: 20px;
}

p, li {
  font-size: 1rem;
  line-height: 1.7;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #0d6efd !important;
}
