/* RESET */
.mission-section *,
.mission-section *::before,
.mission-section *::after {
  border: none !important;
  box-shadow: none !important;
}

/* Section */
.mission-section {
  padding: 80px 20px;
  background:#c5cadb;
}

/* Container */
.mission-container {
  max-width: 1100px;
  margin: auto;
}

/* Header */
.mission-header {
  text-align: center;
  margin-bottom: 40px;
}

.mission-header h2 {
  font-size: 36px;
  font-weight: 700;
  color: #0f172a;
}

/* MAIN LAYOUT */
.mission-main {
  display: grid;
  grid-template-columns: 1.2fr 1fr; /* content left, image right */
  gap: 40px;
  align-items: center;
  margin-bottom: 70px;
}

/* Content */
.mission-content p {
  font-size: 20px;
  color: #000000;
  line-height: 1.8;
  margin-bottom: 16px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Image */
.mission-image img {
  width: 100%;
  border-radius: 14px;
  object-fit: cover;
}

/* Cards */
.mission-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.mission-item {
  background: #e9ebf5;
  padding: 28px;
  border-radius: 12px;
  border: 1px solid #e5e7eb !important;
}

.mission-item h3 {
  font-size: 18px;
  font-weight: 600;
  color: #1e293b;
  margin-bottom: 8px;
}

.mission-item p {
  font-size: 15px;
  color: #475569;
  line-height: 1.6;
}

/* Responsive */
@media (max-width: 768px) {
  .mission-main {
    grid-template-columns: 1fr; /* mobile me image niche aayegi */
  }

  .mission-grid {
    grid-template-columns: 1fr;
  }

  .mission-header h2 {
    font-size: 28px;
  }
}
